<footer style='backdrop-filter: blur(10px); background-color: rgba(0,0,0, 0.15);'>
  <div class="flex flex-row items-center text-left shrink">
    <div class="flex flex-row items-center">
    death to the, corporation - 2023 - all rights reversed
      <div style="margin-left: 0.5em;" class="ml-2">
        <img src="../assets/copyleft.svg" />
      </div>
    </div>
  </div>

  <div class="flex flex-row justify-end text-right icons grow">
    <div>
    <a href="https://urbit.org/" target="_blank">
      <img src="../assets/urbit-logo.svg" />
    </a>
    </div>
    <div>
    <a href="https://twitter.com/__vaporware__" target="_blank">
      <img src="../assets/x-logo.svg" />
    </a>
    </div>
    <div>
    <a href="https://github.com/deathtothecorporation" target="_blank">
      <img src="../assets/github-logo.svg" />
    </a>
    </div>
  </div>
</footer>
