<footer class="justify-center backdrop-blur border-2 border-white pt-2 pb-1 lg:flex lg:flex-row-reverse">
  <div class="flex justify-center grow lg:grow-0 lg:justify-end ">
    <div class="px-10">
    <a href="https://urbit.org/" target="_blank">
      <img src="../assets/urbit-logo.svg">
    </a>
    </div>
    <div class="px-10">
    <a href="https://twitter.com/__vaporware__" target="_blank">
      <img src="../assets/x-logo.svg">
    </a>
    </div>
    <div class="px-10">
    <a href="https://github.com/deathtothecorporation" target="_blank">
      <img src="../assets/github-logo.svg">
    </a>
    </div>
  </div>
  <div class="mb-0 mt-2 text-center text-xs lg:text-base">
    <div class="justify-center flex flex-row items-center lg:justify-start">
      vaporware network, corporation - 2023 - all rights reversed &nbsp;<span class="justify-center mirror"> © </span>
    </div>
  </div>
</footer>