
     <!--  ====================== Hero Area Area =============================  -->
      <div class="hero-area md:h-screen py-[350px] md:py-0 bg-cover bg-no-repeat relative" style="background-image:url(./assets/images/vaporware-homepage.webp)">
         <div class="main-countent-box absolute bottom-0 w-full left-0 ">
         {% for footer in site.data.footer.footer %}

         {% include footer.html %}
         {% endfor %}
      </div>
      <!--  ====================== Hero Area Start =============================  -->
    

