<nav class="flex items-center backdrop-blur" style='backdrop-filter: blur(10px); background-color: rgba(0,0,0, 0.15);'>
    <div class="text-center grow">
      <a href="/">
        <img src="../assets/vapor-v.svg" />
      </a>
    </div>
  
    <div class="text-center shrink">
      <div id="countdown">
      <span id="days"></span>:<span id="hours"></span>:<span id="minutes"></span>:<span id="seconds"></span>
  </div>
      <!--
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
        <a href="/staff">Staff</a>
      -->
    </div>
  
    <div class="items-center text-center grow">
      <a href="/explainer" class='cta' :class="!disabled ? '' : 'disabled'">
        <div>
          <span class="text">
            read the explainer
          </span>
        </div>
        <div>
          <span class="cta-arrow">→</span>
        </div>
      </a>
    </div>
  </nav>