.main-container {
    max-width: 1200px;
    margin: auto;
    padding-left: 24px;
    padding-right: 24px;
}


header.header-area {
    border-left: 0;
    border-right: 0;
    background: #000;
}

.social-bottom {
    border-left: 0;
    border-right: 0;
}

.missives-hero-area {
    padding-top: 400px;
}


@media only screen and (max-width: 768px) {
    .missives-hero-area {
        padding-top: 150px;
    }
  }

.button-item:hover {
    background: white;
    color: #040c0d;
}
.button-item{
    transition: .5s;
}

.button-item:hover path {
    fill: #040c0d;
}



.gh-content>dl, .gh-content>ol, .gh-content>p, .gh-content>ul {
    font-size: 16px!important;
    
}



 


  @media (max-width:1096px){
.md\:grid-cols-2 {
    grid-template-columns: repeat(2,minmax(0,1fr));
    display: flex;
    flex-direction: column;
}
  }


  @media (max-width:640px){
    .border-left {
        border-left: 1px solid unset!important;
    }
      }

      @media (min-width:640px){
        .border-right{
            border-right: unset;
        }
          }
    

  .blog-grid-button{
    margin-top: 24px;
  }

  .missive-title{
    margin-bottom:40px;
  }


  .border-left {
    border-left: 1px solid white;
}


.autor-name p {
    font-size: 13px;
}
.published-date p {
    font-size: 13px;
}


.header-one {
    position: fixed;
}
.border-sep {
    border-top:1px solid #fff;
    position: relative;
}
.border-sep:before {
 
    content: "";
    position: absolute;
    top: -7px;
    left: 0;
    width: 100%;
    border-top: 1px dashed #ffffff87;
    padding-bottom: 12px;
    border-bottom: 1px dashed #ffffff87;
}
.main-body.bg-cover {
    background-attachment: fixed;
} 