---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* rest of your CSS styles */

h1 {
    @apply text-3xl;
    @apply font-normal;
    @apply pt-4
  }
h2 {
    @apply text-xl;
    @apply font-normal;
  }

h3, h4, h5, h6 {
    @apply mb-8;
  }

p {
    @apply mt-6;
  }

a {
    @apply text-white;
}

img-frame {
    @apply block;
    @apply mx-auto;
    @apply mb-8;
    @apply border-2;
    @apply border-gray-300;
    @apply rounded;
    @apply overflow-hidden;
  
}

code {
    @apply bg-gray-700 p-1 rounded text-sm;
}
/* Added support for all markdown element types */
ul {
    @apply list-disc list-inside;
}

ol {
    @apply list-decimal list-inside;
}

li {
    @apply mb-1;
}

blockquote {
    @apply border-l-4 border-gray-300 italic my-6 pl-4;
}

pre {
    @apply bg-gray-200 p-4 rounded;
}

pre code {
    @apply bg-transparent p-0;
}

table {
    @apply border-collapse w-full;
}

th,
td {
    @apply border border-gray-400 p-2;
}

th {
    @apply bg-gray-200 font-bold text-left;
}

thead {
    @apply bg-gray-300;
}

tbody tr:nth-child(even) {
    @apply bg-gray-100;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  @apply font-sans;
  @apply font-light;
  @apply bg-black;
  @apply text-white;
  @apply text-base;
}

.btn-nav {
    @apply bg-blue-500 text-white py-2 px-4 rounded;
}
  
.btn-nav:hover {
    @apply bg-blue-700;
}
  
.btn-action {
    @apply bg-black border border-white text-white py-2 px-4 rounded-full;
}
  
.btn-action:hover {
    @apply border-2
}