@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scale: 1.5;
  --bgColor: #eeeeee;
}

/*[class*="text-"] {*/
/*font-size: calc(var(--font-size, 1rem) * var(--scale)) !important;*/
/*}*/

@media (prefers-color-scheme: dark) {
  :root {
  }
}

@font-face {
  font-family: "BerkeleyMono";
  src:
    url("/fonts/BerkeleyMonoVariable-Italic.woff2") format("woff2"),
    url("/fonts/BerkeleyMonoVariable-Italic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "BerkeleyMono";
  src:
    url("/fonts/BerkeleyMonoVariable-Regular.woff2") format("woff2"),
    url("/fonts/BerkeleyMonoVariable-Regular.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "BerkeleyMono";
  src:
    url("/fonts/BerkeleyMonoVariable-Regular.woff2") format("woff2"),
    url("/fonts/BerkeleyMonoVariable-Regular.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "LatinModern";
  src: url("/fonts/lmmonoproplt10-regular.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "LatinModern";
  src: url("/fonts/lmmonoproplt10-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "LatinModern";
  src: url("/fonts/lmmonoproplt10-oblique.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "LatinModern";
  src: url("/fonts/lmmonoproplt10-boldoblique.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "LatinModernRomanCaps";
  src: url("/fonts/lmromancaps10-regular.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

body {
  /*font-family: "BerkeleyMono", monospace;*/
  font-family: "LatinModern", monospace;
  /*@apply bg-white;*/
  background: var(--bgColor) !important;
}

p {
  /*@apply text-xl;*/
  font-size: 14px;
  @apply md:text-base;
}

.berkeley {
  font-family: "BerkeleyMono", monospace;
}

section {
  /*@apply bg-white;*/
  background: var(--bgColor);
}

section header h1 {
  font-size: 18px;
}

.key-term {
  @apply bg-black;
  @apply text-white;
  @apply italic;
  @apply px-0.5;
}

.fade-transition {
  transition: opacity 0.1s ease;
}

.hero {
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}

nav#site-nav ul {
  @apply list-none !important;
  @apply flex;
  @apply flex-row;
}

nav#site-nav ul > li {
  @apply list-none !important;
}

nav#site-nav a {
  @apply text-black;
  @apply no-underline;
}

footer#site-footer {
  @apply text-[14px];
  @apply md:text-base;
  @apply font-bold;
  @apply h-[135px];
  @apply md:h-full;
}

footer#site-footer a {
  @apply text-white;
  @apply no-underline;
  font-family: "BerkeleyMono";
}

footer#site-footer ul {
  @apply list-none !important;
  @apply mx-0 !important;
  @apply px-0 !important;
}
footer#site-footer li {
  @apply list-none !important;
  @apply mx-0 !important;
  @apply px-0 !important;
  @apply text-center;
}

a {
  color: #00e;
  @apply underline;
}

a:hover {
  @apply cursor-pointer;
  @apply font-semibold;
}

a:visited {
  /* color: purple; */
}

button {
  font-family: "BerkeleyMono";
  @apply bg-black;
  @apply text-white;
  @apply text-base;
  @apply whitespace-pre;
  @apply md:text-base;
  @apply py-2;
  @apply px-4;
}

button:disabled {
  @apply cursor-not-allowed;
  @apply opacity-60;
}

header aside {
}

section {
  @apply mb-8;
}

.content-zone {
  @apply container;
  @apply mx-auto;
  @apply md:max-w-xl;
  @apply px-8;
  @apply md:px-0;
}

p {
  @apply mb-4;
}

h1,
h2,
h3,
h4,
h5 {
  @apply my-8;
  /*@apply font-semibold;*/
  font-family: "LatinModernRomanCaps";
}

h1 {
  @apply text-4xl;
  @apply md:text-2xl;
  @apply mb-8;
}

h2 {
  @apply text-2xl;
  @apply md:text-lg;
  @apply underline;
}

h3 {
}

h5 {
  @apply text-2xl;
  @apply md:text-lg;
  @apply mb-0;
}

blockquote {
  @apply italic;
  @apply text-lg;
  @apply opacity-50;
}

section header {
  @apply mb-4;
  /*@apply font-semibold;*/
  @apply flex;
  @apply flex-row;
  @apply items-center;
}

section header h1 {
  @apply text-xl;
}

.main-points section header {
  @apply text-lg;
}

section p {
  @apply mb-4;
  @apply text-justify;
}

ul {
  @apply mb-4;
  @apply list-disc;
}

li {
  @apply ml-8;
  @apply text-left;
  @apply list-disc;
}

pre.code {
  /*@apply border;*/
  /*@apply rounded-md;*/
  /*@apply p-2;*/
  /*@apply my-2;*/
  @apply text-[10px];
  @apply md:text-[14px];
}

section#callouts {
  @apply flex;
  @apply flex-col;
  @apply md:space-y-10;
  @apply space-y-8;
}

section#callouts article {
  @apply flex;
  @apply flex-col;
  @apply md:flex-row;
  @apply border-b-2;
  @apply md:border-b-0;
  @apply pb-2;
  @apply md:pb-0;
}

section#callouts > article > header {
  @apply text-lg;
  @apply mb-4;
  @apply md:mb-0;
  @apply md:flex-[1];
  @apply md:items-start;
}

section#callouts > article > main {
  @apply md:flex-[4];
}

section.main-points {
  @apply flex;
  @apply flex-col;
  @apply md:grid;
  @apply md:grid-cols-2;
  @apply md:gap-8;
  @apply md:items-start;
  @apply md:mx-auto;
  @apply md:max-w-2xl;
}

section.main-points,
section.system-components > article.left > header {
  @apply justify-start;
  @apply md:justify-start;
}
section.main-points,
section.system-components > article.right > header {
  @apply justify-end;
  @apply md:justify-start;
}

.system-components header {
  @apply my-0;
  @apply mt-8;
}
.system-components h5 {
  @apply my-0;
  @apply mb-2;
}

article.left {
  @apply flex-row;
}

section#core-technology header {
  @apply inline-flex;
  @apply content-center;
  @apply justify-center;
  @apply items-center;
  @apply w-full;
  @apply my-2;
}

section#core-technology h2 {
  font-family: "LatinModernRomanCaps";
  @apply no-underline;
  @apply text-center;
  @apply px-6;
  /*@apply bg-white;*/
  background: var(--bgColor);
}

#core-technology main {
}

#core-technology article {
  position: relative;
  width: 100%;
  /*min-height: 400px; [> Adjust as needed <]*/
  min-height: max-content;
  overflow: hidden;
}

#core-technology .core-content {
  @apply relative;
  @apply bg-transparent;
  /*z-index: 1;*/
  /*@apply px-6;*/
  z-index: 1;
  padding: 1.5rem;
}

#core-technology .jungle-bg {
  position: absolute;
  top: 0;
  left: 0;
  /*height: 10000px;*/
  height: 100%;
  width: 100%;

  overflow: hidden;
  /*left: -40%; [> Increase the overflow <]*/
  /*width: 100%; [> Make container even wider <]*/
  /*height: 100%;*/
  /*overflow: hidden;*/
}

#core-technology .jungle-bg-image {
  @apply w-full;
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*width: 100%;*/
  height: 63%;
  object-fit: cover;
  object-position: center center;

  /* Convert to black and white */
  filter: grayscale(100%);
  /*[> Optional: add some noise <]*/
  opacity: 0.45;
}

#core-technology .jungle-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 64%;
  background: linear-gradient(
    to bottom,
    rgba(238, 238, 238, 1) 0%,
    rgba(238, 238, 238, 0) 2%,
    transparent 4%,
    transparent 80%,
    rgba(238, 238, 238, 0.5) 90%,
    rgba(238, 238, 238, 1) 95%,
    rgba(238, 238, 238, 1) 100%
  );
  pointer-events: none;
}

#use-cases .jungle-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#use-cases .jungle-bg-image {
  @apply w-full;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  opacity: 0.4;
  transform: scale(1.5);
}

#use-cases .jungle-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(238, 238, 238, 1) 0%,
    rgba(238, 238, 238, 0.6) 5%,
    rgba(238, 238, 238, 0.6) 80%,
    rgba(238, 238, 238, 0.8) 90%,
    rgba(238, 238, 238, 1) 100%
  );
  pointer-events: none;
}

section#use-cases h2 {
  @apply no-underline;
  font-size: 16px;
  @apply my-0;
}

section#use-cases article header {
  @apply gap-x-2;
  @apply flex;
  @apply items-start;
  @apply px-3;
  @apply my-0;
}

section#use-cases article p {
  @apply px-3;
}

section#use-cases .case-area {
  position: relative;
  /*min-height: 100%;*/
}

section#use-cases .case-area p {
  position: relative; /* Add this */
  z-index: 10; /* Add this */
  @apply py-3;
}

section#use-cases .number {
  font-size: 10px;
}

section#use-cases .title {
  @apply flex;
  @apply flex-col;
  @apply w-full;
}

section#use-cases .title .header-line {
  @apply border-b;
  @apply border-black;
  @apply pt-[8px];
  @apply mr-[35px];
}

section#callouts > article.right {
  @apply md:flex-row-reverse;
}

section#callouts > article.left {
}

section#callouts > article.right > header {
  @apply text-right;
  @apply md:items-start;
  @apply md:text-right;
  @apply md:justify-end;
  @apply md:border-l-2;
  @apply md:ml-2;
}

section#callouts > article > header > h3 {
  @apply w-full;
  @apply my-0;
}

section#callouts > article.right > header > h3 {
  @apply w-full;
  @apply text-right;
}

section#callouts > article.left > header > h3 {
  @apply w-full;
  @apply text-left;
}

section#callouts > article.left > header {
  @apply md:text-right;
  @apply md:justify-start;
  @apply md:border-r-2;
  @apply md:mr-2;
}

section#callouts > article.right > main {
  @apply md:text-left;
  @apply md:pr-2;
}

section#callouts > article.left > main {
  @apply md:text-left;
  @apply md:pl-2;
}

.horizontal-bars {
  background-image: repeating-linear-gradient(
    0deg,
    #000000 0px,
    #000000 1px,
    transparent 1px,
    transparent 2px,
    #000000 2px,
    #000000 3px,
    transparent 3px,
    transparent 4px,
    #000000 4px,
    #000000 5px,
    transparent 5px,
    transparent 6px,
    #000000 6px,
    #000000 7px,
    #696868 7px,
    #696868 8px,
    transparent 8px,
    transparent 9px,
    #000000 9px,
    #000000 10px,
    transparent 10px,
    transparent 11px
  );
  background-size: 100% 13px; /* Set the size of your "sprite" */
  height: 13px; /* At least the height of your "sprite" */
  width: 100%; /* Full width of the container */
  background-position: left top; /* Start the pattern from the bottom-left corner */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
