---
layout: default
---
     <!--  ====================== Page Hero  Area Start =============================  -->
     <section class="page-area pt-32">
      <div class="container">
         <div class="page-info page-width m-auto text-center" >
            <h2 class="lg:text-[76px] md:text-[56px] text-[48px] text-white  font-light before:border-b before:border-goldenrod-800 before:border-[4px] before:w-[80px] before:absolute relative before:bottom-0 before:left-0 before:right-0 before:ml-auto before:mr-auto pb-6 mb-6" data-aos="fade-up" data-aos-duration="800"> {{page.title}} </h2>
            <p class="text-lg" data-aos="fade-up" data-aos-duration="1200"> {{page.excerpt}} </p>
         </div>
      </div>
   </section>
   <!--  ====================== Page Hero  Area End =============================  -->
 

{{content}}
