---
layout: default
---

<!--
<img src="{{ page.header_image }}" alt="{{ page.title }}">
<h1>{{ page.title }}</h1>

<p>
  {{ page.date | date_to_string }}
  {% assign author = site.authors | where: 'short_name', page.author | first %}
  {% if author %}
    - <a href="{{ author.url }}">{{ author.name }}</a>
    <img src="{{ site.baseurl }}/assets/authors/{{ author.avatar }}" alt="{{ author.name }}">
  {% endif %}
</p>
-->

<div style="max-width: 40em; margin: 5em auto; padding: 0 1em;">
{{ content }}
</div>

<!--
<div id="post" data-title="{{ page.title }}" data-content="{{ page.content }}"></div>
-->
